body.archive.post-type-archive.post-type-archive-thrive-jobs main{
    margin-top:0;
}

body.archive.post-type-archive.post-type-archive-thrive-jobs main section{
    padding: 1rem;
}

.archive.post-type-archive.post-type-archive-thrive-jobs h3{
    max-width: fit-content;
}