.page-id-82 .wp-site-blocks .entry-content.wp-block-post-content-is-layout-constrained {
    margin-top: 0px;
}
.page-id-82 .wp-site-blocks .wp-block-group .wc-block-featured-category.alignnone.has-background-dim.wp-block-woocommerce-featured-category{
    min-width: 200px;
}
.page-id-82 .wc-block-featured-category__wrapper{
    min-height: 200px;
}
.page-id-82 .wp-site-blocks .wp-block-group-is-layout-grid{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.page-id-82 .wp-block-media-text .wp-block-media-text__media{
    margin: 1rem;
    grid-row: 2;
}
.page-id-82 .wp-block-media-text .wp-block-media-text__content{
   grid-row: 1;
}
.page-id-82 .wp-block-query .columns-3.wp-block-post-template.is-layout-grid.wp-container-core-post-template-is-layout-1.wp-block-post-template-is-layout-grid{
    grid-template-columns: repeat(3,1fr);
    gap: 0.2rem;
}

.page-id-82 .wp-block-query .thrive-founders.has-post-thumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-id-82 .wp-block-query ul li .wp-block-post-featured-image{
    margin: 0;
    align-items: center;
}
.page-id-82 .wp-block-query ul li .wp-block-post-featured-image img{
    border-radius: 100%;
}
.wp-block-post-title{
    text-align: center;
}
.page-id-82 .wc-block-featured-category__link .wp-block-buttons-is-layout-flex .wp-block-button .wp-block-button__link.wp-element-button{
    display: none;
}
.page-id-82 .wp-block-group.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained{
    padding: 1rem;
}
@media (min-width: 600px) {
    .page-id-82 .wp-block-media-text .wp-block-media-text__media{
        margin: 0;
        grid-column: 2;
        grid-row: 1;
    }
    .page-id-82 .wp-block-media-text .wp-block-media-text__content{
       grid-column: 1;
    }
    .page-id-82 .wp-block-query .columns-3.wp-block-post-template.is-layout-grid.wp-container-core-post-template-is-layout-1.wp-block-post-template-is-layout-grid{
        grid-template-columns: repeat(5,1fr);
        gap: 0.2rem;
    }
    .page-id-82 .wp-block-query .columns-3.wp-block-post-template.is-layout-grid.wp-container-core-post-template-is-layout-1.wp-block-post-template-is-layout-grid .post-95{
        grid-column: 2/3 ;
    }
}