.page-id-15 main nav.woocommerce-MyAccount-navigation ul{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.page-id-15 main nav.woocommerce-MyAccount-navigation ul li{ 
    margin: 0.5rem 0;
    text-align: left;
    padding: 0 1rem;
}

.page-id-15 .addresses .title .edit{
    float: none;
}

.page-id-15 .woocommerce-MyAccount-content .woocommerce-notices-wrapper{
    display: none;
}